<h2 class="display-2">
  <% if show_link %>
    <%= link_to video.title, video %>
  <% else %>
    <%= video.title %>
  <% end %>
</h2>

<article class="lead">
  <div class="lead">
    <p class="font-monospace">Description:</p>
  </div>
  <% if single_page %>
  <div class="lead">
    <%= video.description %>
  </div>
  <% else %>
    <p>Click the song name to view description</p>
  <% end %>
</article>

<p class="font-monospace">
  <strong>Trending Date: </strong>
  <%= video.trending_date %>
</p>
<p class="font-monospace">
  <strong>Views: </strong>
  <%= video.views%>
</p>

<p class="font-monospace">
  <strong>Likes: </strong>
  <%= video.likes%>
</p>

<p class="font-monospace">
  <strong>Dislikes: </strong>
  <%= video.dislikes%>
</p>

<p class="font-monospace">
  <strong>Created by Youtuber:</strong>
  <%= link_to video.channel_creator.name, video.channel_creator %>
</p>

<p class="font-monospace">Link to video, base url plus slug video_id from csv</p>
<%# <p>Find how to do concatenation/interpolation with rails</p>
<p>Want to find how to get that base url and video_id from the csv to join</p>
And then call that joined value in a link tag somehow here? @baseurl + video.video_id  %>
<hr>