<!DOCTYPE html>
<html>
  <head>
  <%# this line below makes the browser say the name of the video
  only if we are on a video show page, not the index %>
    <title><%= yield(:html_title) + " - " if content_for?(:html_title) %>Trending Youtube Songs</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma@0.9.3/css/bulma.min.css">
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
  <section class="section">
    <div class="container">
         <h1 class="title is-1"><%= link_to "Popular Youtube Uploads", root_path %>Will change style!!!</h1>
    </div>
    <%= yield %>
  </section>
  </body>
</html>
